[submodule "trace_generator"]
	path = trace_generator
	url = https://github.com/jhk5361/trace_generator
[submodule "simulator/src/lib/libconfig"]
	path = simulator/src/lib/libconfig
	url = https://github.com/jhk5361/libconfig
